body {
  background-image: url("/kweh/src/img/backround.png");
  background-repeat: repeat;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 75%;
}

.center {
  text-align: center;
}

button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #fac62b;
  padding: 6px 14px;
}

.button {
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #fac62b;
  background-color: #fac62b;
  padding: 6px 14px;
  text-decoration: none;
}
/*nav bar*/
nav {
  background-color: #3f3329b0;
  padding: 7px 10px;
  border-radius: 25px;
  width: 75%;
  position: sticky;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #ffc;
  padding: 8px 12px;
}
a#icon {
  margin-left: -45%;
}

nav a:hover {
  background-color: #615245;
}

div#loginbox {
  position: absolute;
  top: 0;
  left: 75%;
}

div#loginbox input {
  display: block;
}

div#currentUser {
  padding: 8px 12px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  text-transform: capitalize;
  color: #fac62b;
  font-weight: bold;
}

div#loginForm {
  display: none;
  background-color: #3f3329;
  padding: 5px;
}

div#loginForm.visible {
  display: inline-block;
}

input {
  border: 2px solid #3f3329;
  border-radius: 3px;
  margin: 5px;
  padding: 4px 12px;
}

div#loginStatus {
  font-weight: bold;
  color: #c57424;
}
/*posts*/
h1 {
  color: #fff;
  font-weight: bold;
}
h3 {
  color: #fff;
  font-style: italic;
}
div.shading {
  margin-top: 3rem;
  background-color: #b7a370a6;
  padding: 20px 0px;
}
ul.card-list {
  padding: 10px;
  list-style-type: none;
}

ul.card-list li {
  background-color: #3f3329;
  padding: 10px;
  margin: 4px 4px 12px 4px;
  position: relative;
}

ul.card-list li div {
  text-align: left;
  text-transform: capitalize;
}

ul.card-list li div span {
  float: right;
}

.contain {
  max-width: 500px;
  display: inline-block;
}

.delete {
  background-color: #781a1a;
  border-radius: 30px;
  border: 4px solid;
  padding: 2px 0 0px 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: -7px;
  right: -7px;
}

.delete:hover {
  border: 4px solid #991818;
  background-color: #5a110b;
}
